<div class="login-form vertical-spacer-below-title">
    <form action="">
        <fieldset>
            <div class="clearfix controls">
                <input id="username" type="text" placeholder="Username">
            </div>
            <div class="clearfix controls">
                <input id="password" type="password" placeholder="Password">
            </div>
            <div class="top-spacer20"></div>
            <div class="controls-group error hide bottom-spacer20">
                <span class="help-inline">Authorization failed</span>
            </div>

            <button id="loginButton" data-loading-text="authorizing..." class="btn primary span6 offset4 controls">Buzz in!</button>
        </fieldset>
    </form>
</div>
